@use '/src/styles' as *;

.error {
  width: 100%;
  height: 100vh;
  max-width: 425px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  background-color: $color-grayscale-100;

  & > &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__title {
    color: $color-primary;
    font-family: $font-family-900;
    font-size: 3rem;
  }

  &__desc {
    color: $color-grayscale-500;
  }

  &__button {
    color: $color-grayscale-000;
    background-color: $color-secondary;
    font-family: $font-family-700;
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
  }
}
