@use '/src/styles' as *;

.page {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100vw;
  max-height: 100vh;

  &__container {
    display: flex;
    height: 100%;
  }

  &__slide {
    flex: 0 0 100%;
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
