$color-primary: #dd5ca4;
$color-secondary: #ecb0b1;

$color-grayscale-000: #ffffff;
$color-grayscale-100: #eaeaea;
$color-grayscale-200: #e1e1e1;
$color-grayscale-300: #a7a7a7;
$color-grayscale-400: #4e4e4e;
$color-grayscale-500: #000000;
