@use '/src/styles' as *;

.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;

  & > &__viewport {
    overflow: hidden;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem 0.5rem 0.8rem 1rem;
  }

  &__slide.skeleton {
    background-color: $color-grayscale-300;
  }

  &__controls {
    width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $color-grayscale-200;
    transition: background-color 0.3s;

    &--selected {
      background-color: $color-primary;
    }
  }
}
