@use '/src/styles' as *;

.nav-bar {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  background-color: $color-secondary;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -ms-overflow-style: none;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
    width: 0px;
  }

  a {
    color: $color-grayscale-500;
    font-family: $font-family-800;
    font-size: 1.2rem;
    padding: 1rem;
    transition: color 0.3s;

    &.active {
      color: $color-grayscale-000;
    }
  }
}
